body {
  background-color: #1a1a1a;
  color: rgb(221, 255, 184);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10.7px;
  max-width: 600px;
}
img {
  width: 150px;
}
a {
  color: rgb(221, 255, 184);
}
.container {
  display: flex;
  flex-direction: row;
  background-color: rgb(101, 120, 90);
  padding: 20px;
  align-items: flex-start;
  padding-bottom: 10px;
}
/* 🦊 Compléter les styles de votre teaser  */
div {
  padding: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-top: 0;
}

h1 {
  margin-top: 0;
}
